<ng-container *ngFor="let pokemon of getPokemons()">
  <div class="col-lg-2 col-md-4 col-xs-12 px-1 py-2">
    <div class="card">
      <img
        class="card-img-top"
        src="{{ pokemon.getImage() }}"
        alt="Pokemon Image"
      />
      <div class="card-body">
        <h5 class="card-title">{{ pokemon.getName() | titlecase }}</h5>
        <div *ngFor="let type of pokemon.getTypes()">
          <p class="card-text">{{ type | titlecase }}</p>
        </div>
        <div>Peso: {{ pokemon.getWeight() }} hg</div>
        <div>Altura: {{ pokemon.getHeight() }} dm</div>
      </div>
    </div>
  </div>
</ng-container>
